PORT=5000
NODE_ENV=development
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/voiceforhelp
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRE=30d
CLOUDINARY_NAME=your_cloudinary_name
CLOUDINARY_KEY=your_cloudinary_key
CLOUDINARY_SECRET=your_cloudinary_secret
PHONEPE_MERCHANT_ID=your_merchant_id
PHONEPE_SECRET=your_phonepe_secret
CLIENT_URL=http://localhost:3000
N8N_WEBHOOK_URL=http://localhost:5678/webhook/video-upload

# Brevo SMTP (Email)
BREVO_SMTP_HOST=smtp-relay.brevo.com
BREVO_SMTP_PORT=587
BREVO_SMTP_USER=your_brevo_smtp_login_email
BREVO_SMTP_KEY=your_brevo_smtp_master_password
FROM_EMAIL=noreply@voiceforhelp.org
FROM_NAME=VoiceForHelp
