NODE_ENV=production

MONGO_URI=mongodb+srv://USER:PASSWORD@cluster.mongodb.net/voiceforhelp

JWT_SECRET=super_secure_random_key
JWT_EXPIRE=30d

CLIENT_URL=https://www.voiceforhelp.com

CLOUDINARY_NAME=xxx
CLOUDINARY_KEY=xxx
CLOUDINARY_SECRET=xxx

PHONEPE_MERCHANT_ID=live_id
PHONEPE_SECRET=live_secret

BREVO_API_KEY=your_brevo_api_key_here

FROM_EMAIL=noreply@yourdomain.com
FROM_NAME=VoiceForHelp

N8N_WEBHOOK_URL=https://n8n.yourdomain.com/webhook/video-upload